.login-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.login-title {
    color: white;
    background-color: transparent;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    padding: 30px;
    gap: 10px;
    border: 1px solid #9b4dff;
    background-color: #2a2a2a;
    border-radius: 10px;
    font-size: 18px;
}

.login-input {
    padding: 14px 12px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #9b4dff;
    color: white;
}

.btn-send,
.register-link {
    background-color: #9b4dff;
    color: white;
    border-radius: 10px;
    border: 1px solid transparent;
    text-decoration: none;
    padding: 12px 12px;
    transition: 0,2s;
}

.btn-send:hover,
.register-link:hover {
    background-color: #b07aff;
    transform: translateY(-2px);
}

.ifError {
    background-color: transparent;
    color: red;
}

.ifSuccess {
    background-color: transparent;
    color: white;
}

