.ads {
    display: flex;
    gap: 40px;
    padding: 0px;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #1e1e1e;
    margin: 0;
    
}

.ads-sidebar {
    background-color: #2a2a2a;
    position: sticky;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 260px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #9a9a9a;
    padding: 20px;
    gap: 10px;
    flex-shrink: 0;
    overflow-y: auto;
}

.ads-link {
    text-decoration: none;
    background-color: #9b4dff;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 14px 0;
    width: 100%;
    text-align: center;
    transition: 0.2s;
}

.ads-link:hover {
    background-color: #b07aff;
    transform: translateY(-2px);
}


.ads-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    flex-grow: 1;
}


.ad-card {
    background-color: #2a2a2a;
    border: 1px solid #9a9a9a;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    max-height: 420px; 
    margin-top: 10px;
}

.ad-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card-buttons {
    display: flex;
    gap: 10px;
}

.delete-btn,
.edite-btn {
    flex: 1;
    padding: 6px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

.delete-btn {
    background-color: #ff4d4f;
}

.edite-btn {
    background-color: #4da6ff;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-description {
    font-size: 14px;
    color: #ccc;
}

.card-city,
.card-price {
    font-size: 14px;
    font-weight: 500;
}

.img-controllers {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.prev-image,
.next-image {
    flex: 1;
    padding: 6px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #9b4dff;
}

.prev-image:hover,
.next-image:hover {
    background-color: #b07aff;
}

