.ad-handler {
    display: flex;
    width: 100%;
    min-height: 100vh;

}

.create-ad-form {
    top: 0;
    background-color: #2a2a2a;
    height: auto;
    width: 280px;
    display: flex;
    flex-direction: column;
    position: sticky;
    padding: 20px 20px;
    gap: 10px;
    overflow-y: auto;
    border-right: 1px solid #9a9a9a;
}

.create-input,
.create-label{
    width: 90%;
    background-color: transparent;

}

.create-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
}

.preview {
    width: 450px;
    height: 550px;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #9a9a9a;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.preview-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad {
    width: 100%;
    max-width: 420px;
    background-color: #1f1f1f;
    border: 1px solid #9a9a9a;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

.preview-text {
    background-color: transparent;
}

.ad-image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #444;
}

.ad-controllers {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}


.btn-next,
.btn-prev {
    background-color: #9b4dff;
    border: none;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}

.btn-next:hover,
.btn-prev:hover {
    background-color: #b066ff;
}


.ad h1 {
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: white;
}


.ad p {
    font-size: 16px;
    color: #d9d9d9;
    text-align: center;
    margin: 0;
}

.ad-description-title,
.ad-description,
.ad-price,
.ad-city {
    align-self: flex-start;
}
