.navbar {
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    background-color: #2a2a2a;
    border-bottom: 1px solid #9a9a9a;
}

.logo {
    text-decoration: none;
    border: 1px solid transparent;
    background-color: #9b4dff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding: 10px 10px;
    transition: 0,2s;
}

.nav-right {
    display: flex;
    gap: 10px;
    background-color: #2a2a2a;
}

.btn,
.link {
    padding: 10px 10px;
    color: white;
    background-color: #9b4dff;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition: 0,2s;
    text-decoration: none;
}

.logo:hover,
.btn:hover,
.link:hover {
    background-color: #b07aff;
    transform: translateY(-2px);
}


