.sidebar {
    position: sticky;
    top: 0;
    width: 260px;
    height: 100vh;
    padding: 10px 20px;
    background-color: #2a2a2a;
    border-right: 1px solid #9a9a9a;
    display: flex;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: transparent;
}

.filter-group input,
.filter-group select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.filter-label,
.filter-input {
    background-color: transparent;
    color: white;
}