.sidebar {
    position: sticky;
    top: 0;
    width: 260px;
    height: 100vh;
    padding: 10px 20px;
    background-color: #2a2a2a;
    border-right: 1px solid #9a9a9a;
    display: flex;
    min-width: 260px;
    max-width: 260px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: transparent;
}

.filter-group input,
.filter-group select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.filter-label,
.filter-input {
    background-color: transparent;
    color: white;
}

.main-handler {
    display: flex;
    gap: 30px;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.main-card {
    background-color: #2a2a2a;
    border: 1px solid #9a9a9a;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    max-height: 420px; 
    margin-top: 10px;
    width: 100%;
    max-width: 280px;
}

.main-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.main-ads {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    flex-grow: 1;
}


